.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-field {
  width: 60%;
  padding: 0.5rem;
  margin-top: .5rem;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  z-index: 1000;
}
